<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>混入(mixins)：定义了一部分可复用的方法或者计算属性。混入对象可以包含任意组件选项。当组件使用混入对象时，所有混入对象的选项将被混入该组件本身的选项</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
  <div id="databinding"></div>
  <script type="text/javascript">
    var vm = new Vue({
      el:'#datadinding',
      data:{
      },
      methods:{
      }
    })
    // 定义一个混入对象
    var myMixin = {
      created: function () {
        this.startmixin()
      },
      methods:{
        startmixin:function () {
          document.write("欢迎来到混入实例");
        }
      }
    };
    var Compoent = Vue.extend({
      mixins:[myMixin]
    })
    var compute = new Compoent();
  </script>
</body>
</html>
